<ion-view view-title="Cancel Order">
    <div class="tabs-striped tabs-top tabs-background-positive tabs-color-light">
        <div class="tabs">
            <a class="tab-item " href="#/tab/dashboard">
                <i class="icon ion-star"></i>
            </a>
            <a class="tab-item active" href="#/tab/order">
                <i class="icon ion-ios-cart"></i>
            </a>
            <a class="tab-item" href="#/tab/contacts">
                <i class="icon ion-person"></i>
            </a>
            <a class="tab-item" href="#/tab/chats">
                <i class="icon ion-chatbubble"></i>
            </a>
            <a class="tab-item" href="#/tab/settings">
                <i class="icon ion-gear-a"></i>
            </a>
        </div>
    </div>
    <ion-content>
        <br><br><br>
        <div class="list">
            <div class="item item-button-right" ng-repeat="order in cancel.allOrder">
                {{order.item}}
                <p>{{order.timestamp |amDateFormat: 'D-M-Y HH:MM'}}</p>
                <button class="button button-assertive" ng-click="cancel.cancelOrder(order._id)">
      <i class="icon ion-trash-a"></i>
    </button>
  </div>
</div>
    </ion-content>

</ion-view>

