<ion-view view-title="Chats">
    <div class="tabs-striped tabs-top tabs-background-positive tabs-color-light">
        <div class="tabs">
            <a class="tab-item " href="#/tab/dashboard">
                <i class="icon ion-star"></i>
            </a>
            <a class="tab-item" href="#/tab/order">
                <i class="icon ion-ios-cart"></i>
            </a>
            <a class="tab-item " href="#/tab/contacts">
                <i class="icon ion-person"></i>
            </a>
            <a class="tab-item active" href="#/tab/chats">
                <i class="icon ion-chatbubble"></i>
            </a>
            <a class="tab-item" href="#/tab/settings">
                <i class="icon ion-gear-a"></i>
            </a>
        </div>
    </div>
    <ion-content><br><br><br>
            <div class="list">
   
  <a ng-repeat="message in chats.allChats"  class="item item-icon-left item-icon-right" ng-click="chats.chatOpen('{{message._id}}')">
    <i class="icon ion-person" ></i>
    {{getName "fv" }}
    <i class="icon ion-ios-telephone-outline"></i>
  </a>

</div>

    </ion-content>

</ion-view>

