<ion-view view-title="Dashboard">
    <div class="tabs-striped tabs-top tabs-background-positive tabs-color-light">
        <div class="tabs">
            <a class="tab-item active" href="#/tab/dashboard">
                <i class="icon ion-star"></i>
            </a>
            <a class="tab-item" href="#/tab/order">
                <i class="icon ion-ios-cart"></i>
            </a>
            <a class="tab-item" href="#/tab/contacts">
                <i class="icon ion-person"></i>
            </a>
            <a class="tab-item" href="#/tab/chats">
                <i class="icon ion-chatbubble"></i>
            </a>
            <a class="tab-item" href="#/tab/settings">
                <i class="icon ion-gear-a"></i>
            </a>
        </div>
    </div>
    <ion-content>


    </ion-content>

</ion-view>

