

<ion-view view-title="Sign Up">

    <ion-content>
        <div class="card">
  <div class="item item-divider text-center">
    Create Account
  </div>
  <div class="item item-text-wrap">
    <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">Name</span>
                <input type="text" placeholder="Kishan Kumar" ng-model="signup.data.username" required>
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Email Id</span>
<input type="email" name="input" ng-model="signup.data.email" ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/" placeholder="kishan@cybuzzsc.com" required> 
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Password</span>
                <input type="password" placeholder="Pata Nahi" ng-model="signup.data.password" required>
            </label>
        <label class="item item-input item-stacked-label">
                <span class="input-label">Confirm Password</span>
                <input type="password" placeholder="Pata Nahi" ng-model="signup.data.confpassword" required>
            </label>
        <label class="item item-input item-stacked-label">
                <span class="input-label">Mobile</span>
                <input type="number" placeholder="9718502489" ng-model="signup.data.mobile" required>
            </label>
        <button class="button button-block button-positive" ng-click="signup.btnsignup()">
  Sign Up
</button>
            <a href="#/login" class="button button-block button-assertive">
  Login
</a>

        </div>
  </div>
  
</div>
        


    </ion-content>
<div class="bar bar-footer bar-balanced">
  <div class="title">Copyright@KishanMadhesiya</div>
</div>
</ion-view>

